<div class="o-main u-margin-top--m">
    <div class="o-layout o-layout--spaced o-layout--centered">
        <div class="o-layout__item o-layout__item--4">
            <button mat-raised-button [routerLink]="'/product/details/gondola-culla-primonido-luxe-prestige'">Produkt 1</button>
        </div>
        <div class="o-layout__item o-layout__item--4">
            <button mat-raised-button [routerLink]="'/product/details/pegperego-book-moonstone-gondola-culla-elite-wozek-dzieciecy'">Produkt 2</button>
        </div>
        <div class="o-layout__item o-layout__item--4">
            <button mat-raised-button [routerLink]="'/product/details/fotelik-primo-viaggiosl-500'">Produkt 3</button>
        </div>
    </div>
</div>
