<div class="o-main u-margin-top--m">
    <mat-card class="o-layout o-layout--spaced c-login-form">
        <mat-card-header>
            <mat-card-title>Zaloguj się</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="control" (submit)="submitted.emit()" class="o-layout o-layout--spaced">
                <mat-form-field appearance="fill" class="o-layout__item o-layout__item--6">
                    <mat-label>Login</mat-label>
                    <input matInput [formControl]="control.login">
                </mat-form-field>

                <mat-form-field  appearance="fill" class="o-layout__item o-layout__item--6">
                    <mat-label>Hasło</mat-label>
                    <input matInput type="password" [formControl]="control.password">
                </mat-form-field>

                <button mat-raised-button color="primary">Zaloguj</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
